#logo {
    position: fixed;
    align-items: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

body{
    position: fixed;
    width: 75%;
    left: 50%;
    margin-left: -37.5%;
    margin-top: 90px;
    background-color: #0A0126;
    
}

.path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: dash 5s linear alternate infinite;
  }
  

path.first {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: line-anim 3s ease forwards;
    
}

path.last {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: line-anim 3s ease forwards;
}


@keyframes line-anim{
to{
    stroke-dashoffset: 0;
}
}

