.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #23212a 0%,
    #095b24 29%,
    #ecae12 67%,
    #dfdda3 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;

  color: #fff;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear;
  display: inline-block;
      font-size: 60px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #922D30;
}

/* Extra bullet point coming from HTML? */
li{
    list-style-image:linear-gradient(to left bottom, #095b24, black)
}

/* Navigation Links */
a{ 
    color:white;
    text-decoration: none;
}

.navbar{
    min-height: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 5rem;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: #456812;
}

.nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background: #922d30;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}   
}